.Header {
    width: 98vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #a1a1d0;
    font-size: 25px;
}
.Header a {
    text-decoration: none;
    color: snow;
}
.Header a[class='active'] {
    color: red;
}
.icons{
    width: 3vw;
    height: 6vh;
    background-image: url("../../../public/icons8-spy-48.png");
    background-size: cover;
}